<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="contextName" value="tsso-auth" />
	<!-- 定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
	<property name="logHome" value="/var/log/tsso/auth" />
	<!-- <property name="LOG_HOME" value="/data/jbe_log/brsc" /> -->

	<!-- 控制台输出 -->
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c:%L] %m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<!-- 输出到日志文件 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logHome}/${contextName}.%d{yyyyMMdd}.log</FileNamePattern>
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
	</appender>

	<root level="INFO">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE" />
	</root>
</configuration>