<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tinet.tsso.auth.dao.LogActionMapper" >
  <resultMap id="BaseResultMap" type="com.tinet.tsso.auth.entity.LogAction" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="operate_desc" property="operateDesc" jdbcType="VARCHAR" />
    <result column="operate_object" property="operateObject" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, username, full_name, operate_desc, operate_object, result, operate_time
  </sql>
  <sql id="byParams">
    <if test="userName != null">
      and username LIKE CONCAT('%', #{userName,jdbcType=VARCHAR},'%')
    </if>
    <if test="fullName != null">
      and full_name LIKE CONCAT('%', #{fullName,jdbcType=VARCHAR},'%')
    </if>
    <if test="startTime != null and endTime != null">
       and operate_time BETWEEN  #{startTime,jdbcType=TIMESTAMP}  AND  #{endTime,jdbcType=TIMESTAMP}
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from log_action
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from log_action
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tinet.tsso.auth.entity.LogAction" >
    insert into log_action (id, user_id, username, 
      full_name, operate_desc, operate_object, 
      result, operate_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{fullName,jdbcType=VARCHAR}, #{operateDesc,jdbcType=VARCHAR}, #{operateObject,jdbcType=VARCHAR}, 
      #{result,jdbcType=INTEGER}, #{operateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tinet.tsso.auth.entity.LogAction" >
    insert into log_action
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
      <if test="operateDesc != null" >
        operate_desc,
      </if>
      <if test="operateObject != null" >
        operate_object,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="operateDesc != null" >
        #{operateDesc,jdbcType=VARCHAR},
      </if>
      <if test="operateObject != null" >
        #{operateObject,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tinet.tsso.auth.entity.LogAction" >
    update log_action
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="operateDesc != null" >
        operate_desc = #{operateDesc,jdbcType=VARCHAR},
      </if>
      <if test="operateObject != null" >
        operate_object = #{operateObject,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tinet.tsso.auth.entity.LogAction" >
    update log_action
    set user_id = #{userId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      operate_desc = #{operateDesc,jdbcType=VARCHAR},
      operate_object = #{operateObject,jdbcType=VARCHAR},
      result = #{result,jdbcType=INTEGER},
      operate_time = #{operateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCountByParam" parameterType="com.tinet.tsso.auth.param.LogActionParam" resultType="java.lang.Integer">
    SELECT count(*)
    from log_action
    where 1=1
    <include refid="byParams"/>
  </select>
  <select id="selectByParam"  parameterType="com.tinet.tsso.auth.param.LogActionParam" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    from log_action
    where 1=1
    <include refid="byParams"/>
    <if test="start != null and limit != null">
      offset #{start, jdbcType=INTEGER} limit #{limit,
			jdbcType=INTEGER}
    </if>
  </select>
</mapper>